<section>
    <div class="main-content">
        <span>SOFTWARE ENGINEER</span>
        <h1>Gabriel</h1>
        <p>orem ipsum dolor sit amet. Ut esse cupiditate eos perferendis nisi At voluptatibus quos aut rerum doloremque et corporis eligendi ea ipsa quisquam. Eos corporis magni qui consectetur architecto eum nihil voluptatem a amet veniam vel architecto dolorem sed mollitia culpa qui aperiam optio. Est omnis animi ab veritatis voluptate et placeat amet! Sit earum veritatis est placeat explicabo et rerum officia in repellat reiciendis eos adipisci dolores.</p>
        <btn-primary text="Baixar currículo" (click)="openCV()"></btn-primary>
    </div>
    <main-visual></main-visual>
</section>