<section id="#home">
    <div class="main-content" data-aos="fade-right">
        <h1>Gabriel Maia</h1>
        <span>SOFTWARE ENGINEER</span>
        <p>Com uma bagagem sólida em desenvolvimento front-end, encontrei no Angular a minha plataforma de lançamento para criar aplicações web que não apenas atendem, mas superam as expectativas dos usuários. Trabalho incansavelmente para traduzir conceitos em interfaces intuitivas e dinâmicas.</p>    
        <btn-primary text="Baixar currículo" (click)="openCV()"></btn-primary>
        <div class="icons">
            <a href="https://github.com/GabrielCoderz"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/gabriel-maia-a93a7019b/"><i class='bx bxl-linkedin'></i></a>
        </div>
    </div>
    <main-visual data-aos="fade-left"></main-visual>
</section>