section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    margin-top: 80px;

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 12px;

        span {
            text-transform: uppercase;
            // font-weight: 600;
            font-size: 30px;
            color: transparent;
            -webkit-text-stroke: .5px #fff;
            background-image: linear-gradient(#fff, #fff);
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            background-position: -320px 0;
            animation: animateText 6s linear infinite;
        }
    
        h1 {
            background: rgb(2,0,36);
            background: linear-gradient(90deg, rgb(137, 137, 245) 0%, rgb(12, 12, 197)35%, rgba(0,212,255,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            font-size: 40px;
            margin: 0;
        }

        .icons {
            display: flex;
            flex-direction: row;

            i {
                color: #fff;
                font-size: 20px;
                margin-right: 5px;
                cursor: pointer;

                &:hover {
                    color: aqua;
                }
            }
        }

        p {
            color: #fff;
        }
        
    }
}

@media (min-width: 1080px) {
    section {
        flex-direction: row;
        justify-content: space-between;


        .main-content {
            align-items: flex-start;
            max-width: 50%;

            h1 {
                font-size: 56px;
            }
        }
    }
}

@keyframes animateText {
    0%, 95%, 100% {
        background-position: -320px 0;
    }
    65%, 85% {
        background-position: 0 0;
    }
}