<section id="#home">
    <div class="main-content">
        <span>SOFTWARE ENGINEER</span>
        <h1>Gabriel Maia</h1>
        <p>Com uma bagagem sólida em desenvolvimento front-end, encontrei no Angular a minha plataforma de lançamento para criar aplicações web que não apenas atendem, mas superam as expectativas dos usuários. Trabalho incansavelmente para traduzir conceitos em interfaces intuitivas e dinâmicas.</p>
        <btn-primary text="Baixar currículo" (click)="openCV()"></btn-primary>
    </div>
    <main-visual></main-visual>
</section>