<section id="about">
    <h2>Sobre</h2>
    <div class="description">
        <span></span>
        <p>Sou aluno do Curso de Ciência da Computação na Universidade do Estado do Rio de Janeiro - UERJ. Busquei o fortalecimento do conhecimento em conhecimentos bases, como Construção de Algoritmos, Estrutura de dados, Banco de dados, Sistemas Distribuídos etc.</p>
        <p>Em 2021, com a pandemia, tive o meu primeiro contato com o mercado de trabalho. Fui desenvolvedor estagiário com foco no desenvolvimento de aplicações em Angular. A partir daí, minha visão técnica, além de mercado e negócios mudou para melhor.</p>
        <p>Depois de longos 2 anos como estagiário, fui efetivado como Júnior na mesma empresa que atuo. Até hoje venho desenvolvendo novas features como: Implementar uma tabela dinâmica, adicionar novas funcionalidades para os gráficos em D3, além das correções, testes e reviews de códigos da equipe.</p>
    </div>
</section>
